@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Quattrocento Sans;
}

:root {

    --black: #0f0f0f;
    --white: #ffffff;
    --grey: #505050;

    --theme-light-1: #f2f3f5;
    --theme-light-2: #95adbe;
    --theme-light-3: #fcf6db;

    --theme-dark-1: #4d4d4d;
    --theme-dark-2: #69370d;
    --theme-dark-3: #6d5644;
    --theme-dark-4: #1a8ee0;

    /* blue color contrast */
    --color-1: #094166;
    --color-2: #005691;
    --color-3: #4CB1F6;
    --color-4: #E8f1f5;
    --color-5: #eeeeeec5;

    /* Background color */
    --bg-1: #E8f1f5;
    --bg-2: #95adbe;
    ;
    --bg-3: #fcf6db;

    --font-1: lora;
    --font-2: Manrope;
    --font-3: Quattrocento Sans;
    --font-4: Alegreya;
    --logo: Satisfy;

    --body-start-position: 50px;

    /* Blue Color Theme 2 */
    --bc1: #03045eff;
    --bc2: #023e8aff;
    --bc3: #0077b6ff;
    --bc4: #0096c7ff;
    --bc5: #00b4d8ff;
    --bc6: #48cae4ff;
    --bc7: #90e0efff;
    --bc8: #ade8f4ff;
    --bc9: #caf0f8ff;

    /* Blue colour theme 3 */
    --t1: #0466c8ff;
    --t2: #0353a4ff;
    --t3: #023e7dff;
    --t4: #002855ff;
    --t5: #001845ff;
    --t6: #001233ff;
    --t7: #33415cff;
    --t8: #5c677dff;
    --t9: #7d8597ff;
    --t10: #979dacff;

    /* Blue colour theme 4 */
    --p0: rgb(245, 250, 255);
    --p1: #e3f2fdff;
    --p2: #bbdefbff;
    --p3: #90caf9ff;
    --p4: #64b5f6ff;
    --p5: #42a5f5ff;
    --p6: #2196f3ff;
    --p7: #1e88e5ff;
    --p8: #1976d2ff;
    --p9: #1565c0ff;
    --p10: #0d47a1ff;
}

/* body::-webkit-scrollbar {
    background-color: var(--color-4)
}

::-webkit-scrollbar-thumb {
    background: #3d3d3d52;
    border-radius: 10px;
} */

.display-on-small-screen {
    display: none !important;
}

@media (max-width: 1200px) {

    .display-on-small-screen {
        display: initial !important;
    }

    .hide-on-small-screen {
        display: none !important;
    }
}

/* ====================  flex and grid  ====================   */

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-flow: column;
}

.justify-center {
    justify-content: center;
}

.grid12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid24 {
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
}

/* ====================  custom input styles  ====================   */
.input-field {
    position: relative;
    padding: 0 0 3vh 0;
    background-color: transparent;
}

.input-field input {
    width: 30vw;
    border: transparent;
    border-bottom: solid 1px;
    background-color: transparent;
    height: 3vh;
    z-index: 100;
}

.input-field .input-field-label {
    position: absolute;
    white-space: nowrap;
    left: 0vw;
    top: 0;
    transition: 0.3s;
    cursor: text;
    color: var(--theme-dark-1);
}

.input-field .input-field-focused {
    top: -2vh;
    z-index: 0;
    font-size: 12px;
}

.input-length-counter-div {
    text-align: right;
}

/* ================ custom default styles ================ */
a {
    text-decoration: none;
    color: unset;
}

textarea {
    padding: 1vh 1vw;

}

/* ========== Button styles =========== */
button {
    background: transparent;
    border: transparent;
}